body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 480;
}


.container-fluid{
    padding:3% 15% 7%;
}

#title{
    background-color: #ff4c68;
    color:white;
}

h1{  
    font-family: 'Montserrat', sans-serif;  
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    }

    h2{
        font-family: 'Montserrat', sans-serif;  
        font-size: 3.5rem;  
        line-height: 1.5;  
        font-weight: 530;
            
    }
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 3% 7%;
}

p{
    color: #8f8f8f;
}
/* navigation bar  */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


/* download-button */
.download-button{
    margin:5% 3% 5% 0;
}
/* title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* icon-img */
.icon-img{
color: #ef8172;
margin-bottom: 1rem;
}

.icon-img:hover{
    color: #ff4c68;
}

/* features sections */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

/* testimonials sections */
#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color: #ef8172;
    color:white;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding:8% 16%;
}

/* Press sections */
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
width: 15%;
margin:20px 20px 50px;
}

/* Pricing sections */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-coloumn{
    padding: 3% 2%;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* Call to Action  */

#cta{
    background-color:#ff4c68 ;
    padding: 7% 15%;
    color: white;
    text-align: center;
}
.cta-heading{

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* footer */
#footer{
    background-color:white;
    padding: 7% 15%;
    text-align: center;
}

.footer-link{
   margin: 20px 10px;
   
}